.experience{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.experience__section__title{
    display: flex;
    font-size: 2rem;
    padding: 1rem;
justify-content: center;
}
.experiencie__box___encripta{
    display: flex;
    flex-direction: row;
 
    justify-content: center;
    padding: 1.5rem;
    align-items: center;
    gap: 3rem;
    width: 75%;
    margin: 0 10rem;
}

.experiencie__box___ahorcado{
    display: flex;
    flex-direction: row-reverse;
  
    justify-content: center;
    padding: 1.5rem;
    align-items: center;
    gap: 3rem;
    width: 75%;
}
.experiencie__box___pagina{
    display: flex;
    flex-direction: row;
  
    justify-content: center;
    padding: 1.5rem;
    align-items: center;
    gap: 3rem;
    width: 75%;
}
.experience__img{
    width: 30vw;
}
.experience__info{
   width: 30vw;
}
.experience__text{
    font-weight: 400;
    
}

.experiencia__botao--repo{
    width: 10rem;
    height: 2rem;
    border-radius: 3rem;
    border-color: #2A7AE4;
    color: #2A7AE4;;
}
.experience__botao--demo{
    width: 10rem;
    height: 2rem;
    border-radius: 3rem;
    background: #2A7AE4;
    color: #FFFFFF;
}